<% var _st = typeof settingsSectionTitle !== 'undefined' ? settingsSectionTitle : titulo; %>
<div class="page-header">
  <div class="page-header-inner">
    <a href="/perfil" class="settings-back" aria-label="Voltar às configurações">
      <i class="fa-solid fa-chevron-left"></i>
    </a>
    <h1><%= _st %></h1>
  </div>
</div>
